@import "mixin";
@import './pop.scss';
#app {
  font-size: 14px;
  background-color: #ebedf0;
  @include app-font()
}
.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-height: calc(100%);
}
.van-tabs__line {
  background-color: $theme-color;
  padding: 0px 20px;
}
.van-button--mini {
  padding: 0 0.4rem;
}

.scroll {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// 遮罩层
.van-overlay {
  z-index: 3;
}

// 自定义必填星号-表单
.requiredstar {
  color:#F56C6C; 
  margin: 0px 4px 0px -8px
}
.slotlabel {
  color: #646566;
  padding-top: 8px;
  margin: 0px 14px;
}

.headerFiex {
  position: relative;
}

.my-swipe .van-swipe-item {
  color: #fff;
  height: 200px;
  text-align: center;
  position: relative;
}

// 白蓝背景渐变 列表样式 背景
.listCard-fill-content {
  margin: 4px;
  border-radius: 10px;
  height: 3.4rem;
  padding-left: 0.4rem;
  position: relative;
  background: linear-gradient(to bottom right,white, 85%, #69d3ff);
  background: -webkit-linear-gradient(to bottom right,white, 85%, #69d3ff);
}
.listCard-fill-box {
  position: absolute; // 保证背景图片上的文字清晰
  width: 90%;
  height: 100%
}
.listCard-fill-title {
  font-size: 16px;
}
.fill-content-item {
  position: relative;
}


